#calc-body {
  background-color: black;
  min-width: 420px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  position: relative;
}

#display {
  display: flex;
  width: 100%;
  max-width: 400px;
  height: 30px;
  font-family: 'Orbitron';
  font-size: 1em;
  color: rgb(251, 157, 33);
  justify-content: flex-end;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 10px;
  text-align: right;
}

#result {
  display: flex;
  width: 100%;
  max-width: 400px;
  height: 60px;
  font-family: 'Orbitron';
  font-size: 2em;
  color: white;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 10px;
  text-align: right;

}

#keyboard {
  display: grid;
  width: 410px;
  height: 400px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  padding: 5px;
  box-sizing: border-box;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  color: white; /* Cor do texto padrão */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#clear, #zero {
  grid-column: span 2;  /*Faz botão AC e Zero ocupar 2 colunas do grid*/
}

#equals {
  grid-row: span 2; /*Faz botão Igual ocupar 2 linhas do grid*/
  grid-area: 4 / 4 / 6 / 5; /*Força o posicionamento do botão*/
}

.reset {
  background-color: var(--button-red);
}

.number {
  background-color: var(--button-grey);
}

.operation {
  background-color: var(--button-light-grey);
}

.result {
  background-color: var(--button-blue);
}


